.swiper-slide {
  width: 100%;
  height: 24rem;
  font-size: 1.5rem;
  background-color: pink;
}

.swiper-pagination {
  position: relative;
  margin-top: 1.1rem;
}

.swiper-pagination-bullet {
  background-color: #ff626f;
  padding: 6px;
}
